.comment {
    padding: 0 0 0 0;
    margin: 0 0 .7em 0;
}

.comment-email {
    font-size: 85%;
    color: #AAA;
    padding: 0;
    margin: 0;
    line-height: 80%;
}

.comment-text {
    margin: 0;
    padding: 0;
    line-height: 130%;
}

.comment-delete {
    color: red;
    font-size: 70%;
    opacity: 0.3;
}

body {
    background-color: #e0e0e0;
}